@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 53%;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(/survey-form-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
nav {
  text-align: center;
  padding: 30px 0 20px;
}
h1 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}
.description {
  color: white;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
}
form {
  background: linear-gradient(rgba(25, 25, 63, 0.8), rgba(17, 17, 63, 0.7));
  padding: 40px;
  border-radius: 5px;
}
button {
  color: white;
  background-color: #37af67;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border: none;
  font-size: 1rem;
}
span {
  font-size: 0.9rem;
}
.formGroup {
}
label,
p {
  display: block;
  color: white;
  font-size: 1.1rem;
  margin-top: 25px;
}
#name-label {
  margin-top: 0;
}
.beloPolje {
  padding: 7px 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 1.1rem;
  color: gray;
  margin-top: 5px;

  width: 100%;
}
.radioLabel,
.checkboxLabel {
  margin: 7px;
}
textarea {
  padding: 5px 0px 40px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: rgb(44, 43, 43);
  margin-top: 5px;
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
